<div class="card shadow p-4 col-6">
  <h4>New Phone</h4>

  <%= render 'form', phone: @phone, class: 'text-decoration-none' %>

  <%= link_to 'Back', phones_path, class: 'text-decoration-none' %>
</div>
