<div class="card shadow p-4 col-10">
  <h1 class="display-6">Editing Model <span class="text-muted"><%= @model.name %></h1>
</div>

<%= render 'form', model: @model %>

<div class="list-inline-item mt-3">
  <%= link_to 'Show', @model, class: 'text-decoration-none me-3' %>
  <%= link_to 'Back', models_path, class: 'text-decoration-none' %>
</div>
