<div class="card shadow p-4 col-6">  
  <h4>Editing Article</h4>

  <%= render 'form', article: @article %>

  <%= link_to 'Show', @article, class: 'text-decoration-none' %> <br>
  <%= link_to 'Back', articles_path, class: 'text-decoration-none' %>
</div>
