<div class="container pt-5 pb-5">

  <div class="card shadow p-4 col-6">
    <p>
      <strong>Name:</strong>
      <%= @article.name %>
      <%= @article.content %>
    </p>

    <%= link_to 'Edit', edit_article_path(@article), class: 'text-decoration-none' %> <br>
    <%= link_to 'Back', articles_path, class: 'text-decoration-none' %>
  </div>
</div>
