<div class="card shadow p-4 col-6">  
  <h4>Editing Generation</h4>

  <%= render 'form', generation: @generation %>

  <%= link_to 'Show', @generation, class: 'text-decoration-none' %> <br>
  <%= link_to 'Back', generations_path, class: 'text-decoration-none' %>
</div>
