<div class="card shadow p-4 col-10">
  <h1 class="display-6">Editing defect | <span class="text-muted"><%= @defect.id %></span></h1>
</div>

<%= render 'form', defect: @defect %>

<div class="list-inline-item mt-3">
  <%= link_to 'Show', @defect, class: 'text-decoration-none' %> <br>
  <%= link_to 'Back', defects_path, class: 'text-decoration-none' %>
</div>
